<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<appSettings>
		<!-- Dev User Test (Local Host) ...etc.
		<add key="Debug" value="on"/>
		<add key="SubAppName" value="MarioUserTest"/>
		<add key="sConfigUser" value=""/>
		<add key="sConnGCDev" value="Server=DEV-PREMDAT\USERTEST;Initial Catalog=GrandCentral;User ID=ANAUser;Password=anauser;"/>
		<add key="sConnReports" value="User ID=ANAUser;Password=anauser;data source=DEV-PREMDAT\USERTEST;initial catalog=Reports"/>
		-->
		<!-- Dev -->
		<add key="Debug" value="on"/>
		<add key="SubAppName" value="Dev"/>
		<add key="sConfigUser" value=""/>
		<add key="sConnGCDev" value="Server=DEV-PREMDAT\DEV;Initial Catalog=GrandCentral;User ID=ANAUser;Password=anauser;"/>
		<add key="sConnReports" value="User ID=ANAUser;Password=anauser;data source=DEV-PREMDAT\DEV;initial catalog=Reports"/>

		<!-- User/Unit...etc.
		<add key="Debug" value="on"/>
		<add key="SubAppName" value="UserTest"/>
		<add key="sConfigUser" value=""/>
		<add key="sConnGCDev" value="Server=DEV-PREMDAT\USERTEST;Initial Catalog=GrandCentral;User ID=ANAUser;Password=anauser;"/>
		<add key="sConnPremDev" value="Server=DEV-PREMDAT\USERTEST;Initial Catalog=Premdat;User ID=ANAUser;Password=anauser;"/>
		<add key="sConnGLDev" value="Server=DEV-PREMDAT\USERTEST;Initial Catalog=CPP;User ID=ANAUser;Password=anauser;"/>
		<add key="sConnCoreDev" value="Server=AMT-ANACORE\ANACORE;Initial Catalog=ANACore;User ID=ANAUser;Password=anauser;"/>
		<add key="sConnISORatingDev" value="Server=DEV-PREMDAT\USERTEST;Initial Catalog=ISORating;User ID=ANAUser;Password=anauser;"/>
		<add key="sConnSRNADev" value="Server=CLE-DEVSQL01;Initial Catalog=SRNA;User ID=ANAUser;Password=anauser;"/>
		<add key="sConnProducersPremDev" value="Server=DEV-PREMDAT\USERTEST;Initial Catalog=Premdat;User ID=ANAUser;Password=anauser;"/>

		<add key="sConnANAClaimsDev" value="User ID=ANAUser;Password=anauser;data source=DEV-CLAIMS\UserTest;initial catalog=ANAClaims2" />
		<add key="sConnReports" value="User ID=ANAUser;Password=anauser;data source=DEV-PREMDAT\USERTEST;initial catalog=Reports"/>
		-->

		<!-- LIVEDEBUG...etc.
		<add key="Debug" value="on"/>
		<add key="SubAppName" value="LiveDebug"/>
		<add key="sConfigUser" value=""/>
		<add key="sConnGCDev" value="Server=DEV-PREMDAT\LIVEDEBUG;Initial Catalog=GrandCentral;User ID=ANAUser;Password=anauser;"/>
		<add key="sConnReports" value="User ID=ANAUser;Password=anauser;data source=DEV-PREMDAT\LIVEDEBUG;initial catalog=Reports"/>
		-->

		<!-- LIVETEST...etc.
		<add key="Debug" value="on"/>
		<add key="SubAppName" value="LiveTest"/>
		<add key="sConfigUser" value=""/>
		<add key="sConnGCDev" value="Server=DEV-PREMDAT\LIVETEST;Initial Catalog=GrandCentral;User ID=ANAUser;Password=anauser;"/>
		<add key="sConnReports" value="User ID=ANAUser;Password=anauser;data source=DEV-PREMDAT\LIVETEST;initial catalog=Reports"/>
		<add key="sConnANAClaimsDev" value="User ID=ANAUser;Password=anauser;data source=DEV-CLAIMS\LiveTest;initial catalog=ANAClaims2" />
		-->

		<!-- LIVE...etc.
		<add key="Debug" value="off"/>
		<add key="SubAppName" value="Live"/>
		<add key="sConnGC" value="User ID=ANAUser;Password=anauser;data source=AMT-SQL01;initial catalog=GrandCentral"/>
		<add key="sConnReports" value="User ID=ANAUser;Password=anauser;data source=AMT-SQL01;initial catalog=Reports" />
		-->

		<!-- Misc: Including Webservice keys
		<add key="GrandCentraLWS_Login.Login" value="http://amt-webtest1/WebServices/GrandCentralWS/Login.asmx"/>
		-->
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="GrandCentral" publicKeyToken="F6A6A5FB12006DE3" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.149.0" newVersion="1.1.149.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ProducersPrem" publicKeyToken="7A00420CF38B4C28" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.439.0" newVersion="1.0.439.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ISORating" publicKeyToken="9A3EEA75377327EE" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.350.0" newVersion="1.0.350.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="GrandCentralModels" publicKeyToken="30327A7FE74CDC30" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.208.0" newVersion="1.0.208.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="VendorServices" publicKeyToken="F6A6A5FB12006DE3" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.32.0" newVersion="2.0.32.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="GrandCentralModels" publicKeyToken="F6A6A5FB12006DE3" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.103.0" newVersion="1.0.103.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>